.wrap{
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);
  }
  .navbar li{
      float: left;
  }
 .navbar {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .navbar ul{
    list-style-type: none;
    overflow: hidden;
}
.navbar li a{
  display: block;
  text-align: center;
  text-decoration: none;
}
.main{
    grid-column: 2/3;
    grid-row: 2/3;
}
.video{
    grid-column: 1/2;
    grid-row: 2/3;
}